--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
diffusers
accelerate
transformers
google-genai        # <--- Use this instead of google-generativeai
streamlit
replicate
Pillow
requests
numpy
opencv-python-headless
